<div id="sidebar" class="
	pt-16 flex flex-col h-full bg-gray-800
">
	
	<header>
		<nav class="tabs">
			<button class="tab" (click)="navigateTab('lyrics')" [ngClass]="{'active' : activeTab == 'lyrics'}">
				Lyrics
			</button>
			<button class="tab" (click)="navigateTab('collections')" [ngClass]="{'active' : activeTab == 'collections'}">
				Collections
			</button>
		</nav>
	</header>

	<!-- Lyrics -->
	<div class="flex-1" *ngIf="activeTab == 'lyrics'">
		<div class="actions p-4">
			<button (click)="createNew()">Create Lyric</button>
		</div>

		<nav>
			<SidebarMenuItem *ngFor="let item of menu" [label]="item.title" [_id]="item._id"></SidebarMenuItem>
		</nav>
	</div>

	<!-- Collections -->
	<div class="flex-1" *ngIf="activeTab == 'collections'">
		<div class="actions p-4">
			<button (click)="createNew()">Create Collection</button>
		</div>

		<nav></nav>
	</div>

	<footer class="p-4 text-sm text-gray-400">
		<p><a href="#" class="underline">Version 0.1.0</a>
	</footer>

</div>